- @errors.each do |chapter_title, error_hash|
  - parse_errors = error_hash[:html]
  - image_errors = error_hash[:images]
  - error_count = parse_errors.length + image_errors.length
  %div.panel{class: (error_count > 0 ? "panel-danger" : "panel-success")}
    %div.panel-heading
      %h4= "#{chapter_title} (#{error_count} errors)"

    - if error_count > 0
      - index = 0
      %table.table.table-bordered
        %tr
          %th #
          %th item
          %th.danger current
          %th.success suggestion

        - parse_errors.each do |item_id, p_errors|
          - index += 1
          - p_errors.each do |p_error|
            %tr
              %td= index
              %td= item_id
              %td= p_error.first
              %td= p_error.last

        - image_errors.each do |item_id, i_errors|
          - index += 1
          - i_errors.each do |i_error|
            %tr
              %td= index
              %td= item_id
              %td= i_error
              %td
