=form_for(@section) do |f|
  - if @section.errors.any?
    %div.error_explanation
      %h2= #{ pluralize(@section.errors.count, "error") } prohibited this chapter from being saved:
      %ul
        -@section.errors.full_messages.each do |message|
          %li= message

  %div.field
    = f.label :title
    = f.text_field :title
    %br
    = f.label :description
    = f.text_area :description

  - if @section.id
    %div.actions
      = link_to 'cancel', @section, class: "btn btn-default"
      = submit_tag('update', class: "btn btn-primary")
  - else
    %div.actions
      = link_to 'cancel', chapters_sections_path(@chapter), class: "btn btn-default"
      = submit_tag('save', class: "btn btn-primary")
