%div.container
  %div.row
    %div.col-md-8.col-md-offset-2
      %h2= @section.title
      %div.panel.panel-default
        %div.panel-heading
          %strong Section description:
        %div.panel-body= @section.description

  %div.row
    %div.col-md-4.col-md-offset-2
      =link_to 'Edit Subsections', chapter_section_subsections_path(@chapter, @section), class: "btn btn-primary", style: "margin:20px auto; width:100%;"
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th{colspan: 2}
              Subsections
              %span.badge= @section.subsections.length
              %span.pull-right
                - if @section.active?
                  published
                - else
                  not published
        %tbody
          - @section.subsections.each_with_index do |subsection, index|
            %tr{class: @section.active? ? "success" : "danger"}
              %td= index + 1
              %td= subsection.to_s.empty? ? "(empty)" : subsection.to_s


    %div.col-md-4
      =link_to 'Manage Questions', chapter_section_questions_path(@chapter, @section), class: "btn btn-primary", style: "margin:20px auto; width:100%;"
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th{colspan: 2}
              Questions
              %span.badge= @section.questions.length
              %span.pull-right
                ="#{@section.questions.active.length} / #{@section.questions.length} published"
        %tbody
          - @section.questions.all.each_with_index do |question, index|
            %tr{class: question.active? ? "success" : "danger", id: "section-row"}
              %td= index + 1
              %td= question.to_s.truncate(50, omission: '...')
