= form_for([@chapter, @section], html:{ id: "section-form" }) do |form|
  %div.row
    %div.col-md-10
      %h2= form.text_field :title
    %div.col-md-2
      %small
        Saved on:
        %div#edit-time= l @section.updated_at, format: :long
        %span.btn.btn-default.save Save
  %p= form.text_area :description, cols: 60, rows: 4

  %ul.nav.nav-tabs#subsection-tabs
    - Star.all.each_with_index do |star, index|
      -@star_subsections = @all_subsections[star]||[]
      %li{class: index == 0 ? "active" : ""}
        %a{href: "#star-#{star}", data: {toggle: "tab"} }
          - star.times do
            %span.glyphicon.glyphicon-star
          -if @star_subsections.length > 0
            %span.badge{id: "badge_#{star}"}= @star_subsections.length
          -else
            %span.glyphicon.glyphicon-exclamation-sign

  %div.tab-content
    - Star.all.each_with_index do |star, index|
      -@star_subsections = @all_subsections[star]||[]
      %div.tab-pane{id: "star-#{ star }", class: index == 0 ? "active" : ""}

        %div.col-md-6
          = render partial: 'subsections/new', locals: { subsection: Subsection.new, star: star }
          - @star_subsections.each_with_index do |subsection, index|
            = render partial: 'subsections/editor', locals: { subsection: subsection, index: index, star: star  }

        %div.col-md-6
          = render partial: 'subsections/preview', locals: { star: star }
