%div.container
  %div.row
    %div.col-md-8.col-md-offset-2
      %h2
        = @section.title
        - if @section.active?
          = link_to "Active", toggle_activation_chapter_section_path(@chapter,@section), class: "label label-success", method: :post
        - else
          = link_to "Not active", toggle_activation_chapter_section_path(@chapter,@section), class: "label label-danger", method: :post

      %div.panel.panel-default{style: "margin-top:30px;"}
        %div.panel-heading
          %strong Section description:
        %div.panel-body= @section.description

  %div.row
    %div.col-md-4.col-md-offset-2
      = link_to 'Edit Subsections', chapter_section_subsections_path(@chapter, @section), class: "btn btn-primary", style: "margin:20px auto; width:100%;"
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th{colspan: 2}
              Subsections
              %span.badge= @section.subsections.length
              %span.pull-right
                - if @section.active?
                  published
                - else
                  not published
        %tbody
          - @section.subsections.each_with_index do |subsection, index|
            %tr{class: @section.active? ? "success" : "danger"}
              %td= index + 1
              %td= subsection.to_s.empty? ? "(empty)" : subsection.to_s


    %div.col-md-4
      = link_to 'Manage Questions', chapter_section_questions_path(@chapter, @section), class: "btn btn-primary", style: "margin:20px auto; width:100%;"
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th
              Name
            %th
              Questions
              %span.badge= @section.questions.length
              %span.pull-right
                ="#{@section.questions.active.length} / #{@section.questions.length} published"
        %tbody
          - @section.questions.each do |question|
            %tr{class: question.active? ? "success" : "danger", id: "section-row"}
              %td= question.name
              %td= question.to_s.truncate(40, omission: '...')
