%p
  %strong Title:
  = @section.title
%p
  %strong Description:
  = @section.description

= link_to 'Back', chapter_sections_path(@chapter), class: "btn btn-default"
= link_to 'Edit', edit_chapter_section_path(@chapter,@section), class: "btn btn-primary"
= link_to 'Destroy', chapter_sections_path(@chapter), method: :delete, data: { confirm: "Are you sure you want to delete section `#{ @section }`?" }, class: "btn btn-danger"

%br
