%div.subsection-panel{ id: "subsection-panel-#{ @subsection.id }" }
  %div.panel.panel-default
    %div.panel-heading
      %div.pull-right{style:"margin-bottom:10px"}
        %span.glyphicon.glyphicon-arrow-down.move-down-subsection.btn.btn-default{data: {id: @subsection.id, item: "subsection-panel-#{ @subsection.id }", url: movedown_chapter_section_subsection_path(@chapter, @section, @subsection)}}
        %span.glyphicon.glyphicon-arrow-up.move-up-subsection.btn.btn-default{data: {id: @subsection.id, item: "subsection-panel-#{ @subsection.id }", url: moveup_chapter_section_subsection_path(@chapter, @section, @subsection)}}
        %span.btn.btn-default.glyphicon.glyphicon-minus.delete-subsection{data: {item: "subsection-panel-#{ @subsection.id }", url: chapter_section_subsection_path(@chapter, @section, @subsection) } }
      = "Pos #{@subsection.position}"
      %h3.panel-title
        = hidden_field_tag   "subsections[#{@subsection.id}][position]", @subsection.position, class: "subsection-position"
        = text_field_tag   "subsections[#{@subsection.id}][title]", @subsection.title, class: "form-control"

      %small= @subsection.id[0,8]

    %div.panel-body
      = text_area_tag "subsections[#{@subsection.id}][text]", @subsection.text, style: 'width: 100%; min-height: 100px;', class: "form-control auto-resize rich-text"

    %div.panel-footer.clearfix
      %div.pull-right
        %span.btn.btn-default.glyphicon.glyphicon-plus.add-subsection{data: { after: "subsection-panel-#{ @subsection.id }", id: @subsection.id, url: chapter_section_subsections_path(@chapter, @section) } }
