%div{id: "subsection_panel_#{subsection.id}" }
  %div.panel.panel-default
    %div.panel-heading
      %div.pull-right
        %a{href: "javascript: $('#subsection_panel_#{subsection.id}').remove()"}
          %span.glyphicon.glyphicon-minus
      %h3.panel-title
        = hidden_field_tag "section[subsections][#{star}][#{index}][id]", subsection.id
        = hidden_field_tag "section[subsections][#{star}][#{index}][position]", subsection.position
        = hidden_field_tag "section[subsections][#{star}][#{index}][stars]", subsection.stars
        = text_field_tag "section[subsections][#{star}][#{index}][title]", subsection.title
    %div.panel-body
      = text_area_tag "section[subsections][#{star}][#{index}][description]", subsection.description, style: 'width: 100%; min-height: 100px;'

  = render partial: 'subsections/new', locals: { subsection: Subsection.new, star: star  }
