=form_for([@chapter, @section, @subsection], html: {class: "form-horizontal", role: "form"}) do |f|
  - if @subsection.errors.any?
    %div.error_explanation
      %h2= #{ pluralize(@subsection.errors.count, "error") } prohibited this subsection from being saved:
      %ul
        -@subsection.errors.full_messages.each do |message|
          %li= message

  %div.form-group
    = f.label :title, class: "col-sm-2 control-label"
    %div.col-sm-10
      = f.text_field :title, size: 120

  %div.form-group
    = f.label :description, class: "col-sm-2 control-label"
    %div.col-sm-10
      = f.text_area :description, cols: 120, rows: 20

  %div.form-group
    = f.label :stars, class: "col-sm-2 control-label"
    -Star.all.each do |star|
      %div.col-sm-1
        -star.times do
          %span.glyphicon.glyphicon-star
        = f.radio_button :stars, star

  - if @section.id
    %div.form-group
      %div.col-sm-offset-2.col-sm-10
        = link_to 'cancel', chapter_section_path(@chapter, @section), class: "btn btn-default"
        = submit_tag('update', class: "btn btn-primary")
  - else
    %div.form-group
      %div.col-sm-offset-2.col-sm-10
      = link_to 'cancel', chapter_sections_path(@chapter), class: "btn btn-default"
      = submit_tag('save', class: "btn btn-primary")
