%div.col-md-6
  = render partial: 'new', locals: { subsection: Subsection.new }
  -@subsections.each do |subsection|
    = render partial: 'editor', locals: { subsection: subsection }
    = render partial: 'new', locals: { subsection: subsection }

%div.col-md-6
  = render partial: 'preview'

:javascript
  var previewUrl = '#{ preview_chapter_section_path(@chapter, @section, star: @star) }';
