%form#section-form{ action: save_chapter_section_subsections_path(@chapter, @section) }
  %div.row
    %div.col-md-9
      %h2= @section.title
    %div.col-md-1
      %span.btn.btn-primary.btn-lg.save Save
    %div.col-md-2
      %small
        %span#edit-time{style: "min-height:30px;"}
          Saved on:
          = l @section.updated_at, format: :long
  %div.row
    %div.col-md-6
      = render partial: 'inputs'
      = render partial: 'new'
      - @section.subsections.each_with_index do |subsection, index|
        - @subsection, @index = subsection, index
        = render partial: 'edit'

    %div.col-md-6
      %div{style: "max-height: 700px; overflow: auto"}
        - @section.subsections.each do |subsection|
          = render partial: "preview", locals: {subsection: subsection}

      - if @section.parse_errors(:text).any?
        %div.panel.panel-danger
          %div.panel-heading Parse errors
          %table.table.table-bordered
            %tr
              %th #
              %th item
              %th.danger current
              %th.success suggestion
            - index = 1
            - @section.parse_errors(:text).each do |item_id, p_errors|
              - p_errors.each do |p_error|
                %tr
                  %td= index
                  %td= item_id
                  %td= p_error.first
                  %td= p_error.last
                  - index += 1

      - if @section.image_errors(:text).any?
        %div.panel.panel-danger
          %div.panel-heading Image errors
          %div.panel-body
            - @section.image_errors(:text).each do |subs, i_errors|
              %p.text-danger= subs
              %ul
                - i_errors.each do |i_error|
                  %li.text-danger= i_error
