- @section.subsections.each do |subsection|
  %div.panel.panel-default
    %div.panel-body
      = text_to_html(@section.inputs, subsection.text)

- if @section.parse_errors.any?
  %div.panel.panel-danger
    %div.panel-heading Parse errors
    %div.panel-body
      %table.table.table-bordered
        %tr
          %th item
          %th.danger is
          %th.success moet zijn
        - @section.parse_errors.each do |item_id, p_errors|
          - p_errors.each do |p_error|
            %tr
              %td= item_id
              %td= p_error.first
              %td= p_error.last

- if @section.image_errors.any?
  %div.panel.panel-danger
    %div.panel-heading Image errors
    %div.panel-body
      - @section.image_errors.each do |subs, i_errors|
        %p.text-danger= subs
        %ul
          - i_errors.each do |i_error|
            %li.text-danger= i_error
