- @section.subsections.each do |subsection|
  %div.panel.panel-default
    %div.panel-body
      = text_to_html(@section.inputs, subsection.text)

%div.panel.panel-default
  %div.panel-heading Parse errors
  %div.panel-body
    - if @section.parse_errors.any?
      - @section.parse_errors.each do |subs, p_errors|
        %p= subs
        %ul
          - p_errors.each do |p_error|
            %li= p_error
    - else
      %p no parse errors

%div.panel.panel-default
  %div.panel-heading Image errors
  %div.panel-body
    - if @section.image_errors.any?
      - @section.image_errors.each do |subs, i_errors|
        %p= subs
        %ul
          - i_errors.each do |i_error|
            %li= i_error
    - else
      %p no image_errors
