- @section.subsections.each do |subsection|
  %div.panel.panel-default
    %div.panel-body
      = text_to_html(@section.inputs, subsection.text)

- if @section.parse_errors.any?
  %div.panel.panel-danger
    %div.panel-heading Parse errors
    %div.panel-body
      - @section.parse_errors.each do |subs, p_errors|
        %p.text-danger= subs
        %ul
          - p_errors.each do |p_error|
            %li.text-danger= p_error

- if @section.image_errors.any?
  %div.panel.panel-danger
    %div.panel-heading Image errors
    %div.panel-body
      - @section.image_errors.each do |subs, i_errors|
        %p.text-danger= subs
        %ul
          - i_errors.each do |i_error|
            %li.text-danger= i_error
