%p
  %strong Title:
  = @subsection.title
%p
  %strong Description:
  = @subsection.description

= link_to 'Back', chapter_section_path(@chapter, @section), class: "btn btn-default"
= link_to 'Edit', edit_chapter_section_subsection_path(@chapter, @section, @subsection), class: "btn btn-primary"
= link_to 'Destroy', chapter_section_subsection_path(@chapter, @section, @subsection), method: :delete, data: { confirm: "Are you sure you want to delete section `#{ @section }`?" }, class: "btn btn-danger"

%br
