<h1>Listing chapters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.name %></td>
        <td><%= chapter.description %></td>
        <td><%= chapter.course %></td>
        <td><%= link_to 'Show', course_chapter_path(@course, chapter) %></td>
        <td><%= link_to 'Edit', edit_course_chapter_path(@course, chapter) %></td>
        <td><%= link_to 'Destroy', course_chapter_path(@course, chapter), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chapter', new_course_chapter_path(@course) %>
