<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chapter.description %>
</p>

<p>
  <strong>Course:</strong>
  <%= @chapter.course %>
</p>

<%= link_to 'Edit', edit_course_path(@course, @chapter) %> |
<%= link_to 'Back', course_path(@course) %>
