<% if Course.current %>
  <h1>Listing chapters</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Course</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <% @chapters.each do |chapter| %>
          <tr>
            <td><%= chapter.name %></td>
            <td><%= chapter.description %></td>
            <td><%= chapter.course %></td>
            <td><%= link_to 'Show', chapter %></td>
            <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
            <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Chapter', new_chapter_path %>

<% else %>
  <h1>Choose course first</h1>
<% end %>
