<%= form_for(@learning_step) do |f| %>
  <% if @learning_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@learning_step.errors.count, "error") %> prohibited this learning_step from being saved:</h2>

      <ul>
      <% @learning_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :chapter_id %><br>
    <%= f.text_field :chapter_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
