- if Course.current
  - @course = Course.current
  %div.container
    %div.row
      %div.col-md-6.col-md-offset-2
        %h1
          = @course.name
      %div.col-md-4
        = link_to 'Publish', list_jobs_path, class: "btn btn-default btn-success"
        = link_to 'Check HTML', check_content_path, class: "btn btn-default btn-warning"
        = link_to 'Search Section', search_section_path, class: "btn btn-default btn-info"

    %div.row{style: "margin-top:10px;"}
      %div.col-md-8.col-md-offset-2
        %h3
          - if @course.entry_quiz
            = link_to 'Entry Quiz', '/entry_quiz'
          - else
            = link_to 'Entry Quiz', new_entry_quiz_path
    %div.row{style: "margin-top:10px;"}
      %div.col-md-8.col-md-offset-2
        %h3
          = link_to 'Chapters', chapters_path
          %small= "(#{ @course.chapters.length } chapters)"
        - @course.chapters.each do |chapter|
          %div.panel{class: chapter.active? ? "panel-success" : "panel-danger"}
            %div.panel-heading
              %h4= link_to chapter.title, chapter

            %table.table.table-bordered
              %thead
                %tr
                  %th{colspan: 2}
                    Section
                    %span.pull-right
                      = "#{chapter.sections.active.length} / #{chapter.sections.length} published"
                  %th
                    %span.pull-right # subsections
                  %th
                    %span.pull-right # questions
              %tbody
                - chapter.sections.each_with_index do |section, index|
                  %tr{class: (section.active? ? "success" : "danger"), id: "section-row"}
                    %td= index + 1
                    %td
                      = link_to section.title, [chapter, section]
                    %td
                      %span.label.label-primary.pull-right
                        = "#{section.subsections.length}"
                    %td
                      %span.label.label-success.pull-right= section.questions.length
                %tr{class: (chapter.chapter_quiz && chapter.chapter_quiz.active? ? "success" : "danger")}
                  %td{colspan: 4}
                    %h4= link_to "Chapter quiz", chapter_chapter_quiz_path(chapter)

      %div.col-md-2
        %strong Guide:
        %table.table.table-condensed.table-bordered
          %tr
            %td.success Element active
            %tr
            %td.danger Element not active
- else
  %div.container
    %div.alert.alert-warning Please select a course from the dropdown on the top right.
