%a.btn.btn-default#red red

-if Course.current
  - @course = Course.current
  %h1 Overview
  %ul
    %li
      = @course.name
      = "(#{ @course.chapters.length })"
      %ul
        -@course.chapters.each do |chapter|
          %li
            =link_to chapter.title, chapter
            %small= chapter.description
            = "(#{ chapter.sections.length })"
            %ul
              -chapter.sections.each do |section|
                %li
                  = link_to section.title, [chapter, section]
                  %small= section.description
                  %ul
                    -section.subsections.each do |subsection|
                      %li
                        =link_to subsection.title, [chapter, section, subsection]
                        %small= subsection.description
                        - subsection.stars.times do
                          %span.glyphicon.glyphicon-star
