%h1 Overview

%ul
  - Course.all.each do |course|
    %li
      = course.name
      = "(#{ course.chapters.length })"
      %ul
        -course.chapters.each do |chapter|
          %li
            =link_to chapter.title, chapter
            %small= chapter.description
            = "(#{ chapter.sections.length })"
            %ul
              -chapter.sections.each do |section|
                %li
                  = link_to section.title, [chapter, section]
                  %small= section.description
