%div.container
  %div.row
    %div.col-md-8.col-md-offset-2
      %h2= "Questions for Entry Quiz"
    %div.col-md-2
      = button_to 'Add Question', chapter_chapter_quiz_chapter_questions_set_questions_path(@chapter,@chapter_questions_set), method: :post, class: "btn btn-success"
  %div.row
    %div.col-md-8.col-md-offset-2
      %table.table.table-bordered
        %thead
          %tr
            %th.col-md-2 Name
            %th.col-md-7 Title
            %th.col-md-1 Remove
        %tbody
          - @chapter_questions_set.questions.each do |question|
            %tr{class: question.active? ? "success" : "danger"}
              %td= question.name
              %td= link_to question.to_s.truncate(90, omission: '...'), edit_chapter_chapter_quiz_chapter_questions_set_question_path(@chapter,@chapter_questions_set,question)
              %td
                = link_to chapter_chapter_quiz_chapter_questions_set_question_path(question), method: :delete, data: { confirm: "Are you sure you want to delete this question?" } do
                  %span.glyphicon.glyphicon-trash
