%div.row
  %div.col-md-11
    %div.row
      %div.col-lg-3
        = text_field_tag "line_inputs[#{input.id}][pre]", input.pre, class: "form-control", placeholder: "pre"
      %div.col-lg-3
        = text_field_tag "line_inputs[#{input.id}][post]", input.post, class: "form-control", placeholder: "post"
      %div.col-lg-3
        = text_field_tag "line_inputs[#{input.id}][width]", input.width, class: "form-control", placeholder: "width"
  %div.col-md-1
    %span.btn.btn-default.glyphicon.glyphicon-plus.add-answer{data: { item: "input-#{ input.id }", url: input_answers_path(input, question_id: @question.to_param) } }
  %div.answers-list
    - input.answers.each do |answer|
      =render partial: 'answers/edit', locals: {input: input, answer: answer}
