%div.row
  %div.col-md-10
    %div.row
      - if @question
        %div.col-md-3
          %label Prefix
          = text_field_tag "line_inputs[#{input.id}][prefix]", input.prefix, class: "form-control"
        %div.col-md-3
          %label Suffix
          = text_field_tag "line_inputs[#{input.id}][suffix]", input.suffix, class: "form-control"
        %div.col-md-4
          %label Width
          %div.input-group
            = text_field_tag "line_inputs[#{input.id}][width]", input.width, class: "form-control"
            %div.input-group-addon px
  %div.col-md-2
    - if @question
      %span.pull-right.btn.btn-default.glyphicon.glyphicon-plus.add-answer{data: { item: "input-#{ input.id }", url: input_answers_path(input, question_id: @question.to_param) } }
    - else
      %span.pull-right.btn.btn-default.glyphicon.glyphicon-plus.add-answer{data: { item: "input-#{ input.id }", url: input_answers_path(input, section_id: @section.to_param) } }

  %div.answers-list
    %div.col-md-12{style: 'margin-top:20px;'}
      %strong Correct answers:
    - input.answers.each do |answer|
      = render partial: 'answers/edit', locals: {input: input, answer: answer}
