%div.row
  %div.col-md-10
    %div.row
      %div.col-md-3
        %label Pre-field
        = text_field_tag "line_inputs[#{input.id}][pre]", input.pre, class: "form-control", placeholder: "pre"
      %div.col-md-3
        %label Post-field
        = text_field_tag "line_inputs[#{input.id}][post]", input.post, class: "form-control", placeholder: "post"
      %div.col-md-4
        %label Width
        %div.input-group
          = text_field_tag "line_inputs[#{input.id}][width]", input.width, class: "form-control", placeholder: "width"
          %div.input-group-addon px
  %div.col-md-2
    %span.pull-right.btn.btn-default.glyphicon.glyphicon-plus.add-answer{data: { item: "input-#{ input.id }", url: input_answers_path(input, question_id: @question.to_param) } }
  %div.answers-list
    %div.col-md-12{style: 'margin-top:20px;'}
      %strong Correct answers:
    - input.answers.each do |answer|
      =render partial: 'answers/edit', locals: {input: input, answer: answer}
