!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Studyflow Publishing'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Studyflow Publishing'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{href: "//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css", rel: "stylesheet"}
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
      = render 'layouts/breadcrumbs'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield

= javascript_include_tag 'application', 'data-turbolinks-track' => true
%script{src:"//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"}
