=form_for(@course) do |f|
  - if @course.errors.any?
    %div.error_explanation
      %h2= #{ pluralize(@course.errors.count, "error") } prohibited this course from being saved:
      %ul
        -@course.errors.full_messages.each do |message|
          %li= message

  %div.field
    = f.label :name
    %br
    = f.text_field :name

  - if @course.id
    %div.actions
      = link_to 'cancel', @course, class: "btn btn-default"
      = submit_tag('update', class: "btn btn-primary")
  - else
    %div.actions
      = link_to 'cancel', courses_path, class: "btn btn-default"
      = submit_tag('save', class: "btn btn-primary")
