-if @course.active?
  = link_to 'Deactivate', deactivate_course_path(@course), method: :post, class: "btn btn-warning"
- else
  = link_to 'Activate', activate_course_path(@course), method: :post, class: "btn btn-info"

%p
  %strong Name:
  = @course.name

= link_to 'Back', courses_path, class: "btn btn-default"
= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary"
= link_to 'Destroy', @course, method: :delete, data: { confirm: "Are you sure you want to delete course `#{ @course }`?" }, class: "btn btn-danger"
