%div.row{id: "choice-#{choice.id}"}
  %div.col-md-8
    = text_area_tag "multiple_choice_inputs[#{input.id}][choices][#{choice.id}][value]", choice.value, cols: 50, rows: 2, class: "form-control choice-row auto-resize"
  %div.col-md-2
    = check_box_tag "multiple_choice_inputs[#{input.id}][choices][#{choice.id}][correct]", 1, choice.correct, class: "toggle_choice pull-right choice-row", data: {input: input.id}, style:"margin-top:50px;"
  %div.col-md-2
    %span.btn.pull-right.btn-default.glyphicon.glyphicon-minus.delete-choice.choice-row{data: { item: "choice-#{ choice.id }", url: input_choice_path(input, choice, question_id: @question.to_param) } }
