<h1>Listing learning_steps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Chapter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @learning_steps.each do |learning_step| %>
      <tr>
        <td><%= learning_step.name %></td>
        <td><%= learning_step.description %></td>
        <td><%= learning_step.chapter %></td>
        <td><%= link_to 'Show', learning_step %></td>
        <td><%= link_to 'Edit', edit_learning_step_path(learning_step) %></td>
        <td><%= link_to 'Destroy', learning_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Learning step', new_learning_step_path %>
