%div.container
  %div.row{style: "margin-top:20px;"}
    %div.col-md-8.col-md-offset-2
      - if @jobs.empty?
        %div.row{style: "margin-bottom: 20px;"}
          %div.alert.alert-info{style:"text-align:center"}
            %p All publishing task succeeded and/or there is no publishing in progress.
            %p You can go ahead and check & publish the course material.
        %div.row
          %div.col-md-5.col-md-offset-4
            = link_to 'Check material and publish', check_course_path, class: "btn btn-lg btn-info"

      - else
        %div.row{style: "margin-bottom: 20px;"}
          %table.table.table-bordered
            %thead
              %tr
                %th Initiated
                %th Status
                %th Notes
            %tbody
              - @jobs.each do |job|
                %tr{class: "#{job.status.to_s}"}
                  %td.col-md-2= job.created_at ? job.created_at.to_s(:short) : ''
                  %td= job.status.to_s.capitalize
                  %td
                    - if job.status == :running
                      = "Running for #{(Time.now-job.locked_at).round(0)} s"
                    %ul
                      - if job.attempts > 0
                        %li= "Attempts: #{job.attempts}"
                        %li= job.last_error.to_s.truncate(100, omission: "...")
                        %li= link_to('Clear', delete_job_path(id: job.id), method: :delete, data: { confirm: "Are you sure to clear the publishing task?" }, class: "btn btn-danger")
        %div.col-md-1.col-md-offset-5
          %a.btn.btn-lg.btn-info{onclick: "location.reload()"} Refresh status
